/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


/*********************************
4. Menu
*********************************/

.menux
{
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100vh;
  background: #f8f8f8;
  padding-left: 40px;
  padding-top: 79px;
  padding-right: 45px;
  z-index: 101;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.menux.active
{
  left: 0;
}
.menu_search_formx .search_inputx
{
  text-align: left;
  padding-left: 25px;
}
.menu_navx ul li a
{
  position: relative;
  font-size: 20px;
    color: #2e2e2e;
    font-weight: 400;
}
.menu_navx ul li a:hover
{
  color: #2fce98;
}
.menu_navx ul li a::after
{
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2fce98;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  content: '';
}
.menu_navx ul li a:hover::after
{
  width: 100%;
}
.menu_contactx
{
  position: absolute;
  left: 40px;
  bottom: 25px;
}
.menu_phonex > div:first-child > div
{
  width: 18px;
  height: 18px;
}
.menu_phonex > div:last-child
{
  font-size: 14px;
  font-weight: 700;
  color: #4a4a4a;
  padding-left: 16px;
}
.menu_socialx
{
  margin-top: 20px;
}
.menu_social_listx li
{
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: solid 2px #6d6d6d;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.menu_social_listx li:not(:last-of-type)
{
  margin-right: 12px;
}
.menu_social_listx li a
{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.menu_social_listx li a i
{
  line-height: 29px;
  color: #6d6d6d;
  font-size: 14px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.menu_social_listx li:hover
{
  border-color: #2fce98;
}
.menu_social_listx li:hover a i
{
  color: #2fce98;
}
.menu_searchx
{
  display: none;
  margin-bottom: 48px;
}
.menu_search_formx
{
  position: relative;
}
.menu_search_formx > .search_inputx
{
  width: 100%;
}
.menu_search_buttonx
{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  width: 44px;
  height: 39px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.hamburgerx
  {
    display: block;
  }